@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: black;
}
.contactus
{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.contactme .title
{
    position: absolute;
}
.contactme .title h2
{
    color: Azure;
    font-weight: 500;
}
.form
{
    grid-area: form;
}
.info
{
    grid-area: info;
}
.map
{
    grid-area: map;
}
.contact
{
    padding: 40px;
    background: #ffff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}
.box
{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}
.contact h3
{
    color: black;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 20px;
}
.formbox
{
    position: relative;
    width: 100%;
}
.formbox .row50
{
    display: flex;
    gap: 20px;
}
.inputbox
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.form .row100 .inputbox
{
    width: 100%;
}
.inputbox span
{
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputbox input
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputbox textarea
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333; 
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputbox input[type="submit"]
{
    background: #FF4136;
    color: #ffff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.inputbox ::placeholder
{
    color: #999;
}
.info
{
    background: #FF4136;
}
.info h3{
    color: white;
}
.info .infoBox div
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span 
{
    min-width: 40px;
    height: 40px;
    color: white;
    background: #FF4136;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p 
{
    color: azure;
    font-size: 1.1em;
}
.info .infoBox div a 
{
    color: azure;
    text-decoration: none;
    font-size: 1.1em;
}
.sci
{
    margin-top: 40px;
    display: flex;
}
.sci li
{
    list-style: none;
    margin-right: 15px;
}
.sci li a 
{
    color: azure;
    font-size: 2em; 
}
.sci li a:hover
{
    color: black;
}
.map
{
    padding: 0;
}
.map iframe
{
    width: 100%;
    height: 100%;
}
@media (max-width: 991px)
{
    body
    {
        background: #03a9f5;
    }
    .contactus
    {
        padding: 20px;
    }
    .box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "form"
            "info"
            "map";
    }
    .map {
        min-height: 300px;
    }
}
header
{
    padding: 40px 50px;
}
header .menu
{
    float: right;
}
header .menu ul li
{
    display: inline-block;
    margin: 0 20px;
}
header .menu ul li:last-child
{
    margin-right: 0;

}
header .menu ul li a
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease .5;
}
header .menu ul li a:hover
{
    color: #FF4136;
}

/* Header Button */

header .menu ul li.btn a
{
    background-color: 	#FF4136;
    color: #000;
    padding: 14px 27px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
header .menu ul li.btn a:hover
{
    background-color: 	#FF4136;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}