@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #000;
}
header
{
    padding: 40px 50px;
}
header .menu
{
    float: right;
}
header .menu ul li
{
    display: inline-block;
    margin: 0 20px;
}
header .menu ul li:last-child
{
    margin-right: 0;

}
header .menu ul li a
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease .5;
}
header .menu ul .current
{
    color: darkturquoise;
}
header .menu ul li a:hover
{
    color: darkturquoise;
}

/* Header Button */

header .menu ul li.btn a
{
    background-color: darkturquoise;
    color: #000;
    padding: 14px 27px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
header .menu ul li.btn a:hover
{
    background-color: darkturquoise;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}
.banner-text
{
    text-align: center;
    font-size: 35px;
    top: 45%;
    color: azure;
    position: absolute;
    width: 100%;
}
.text-wrapper div
{
    font-size: 100px;
}
.banner-text h6
{
    text-align: center;
    color: darkturquoise;
    text-transform: uppercase;
}
.box
{
    font-size: 35px;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: century gothic;
}
.b1
{
    animation: ani1 15s infinite;
}
.b2
{
    animation: ani2 15s infinite;
}
.b3
{
    animation: ani3 15s infinite;
}
.b4
{
    animation: ani4 15s infinite;
}
.b5
{
    animation: ani5 15s infinite;
}

@keyframes ani1{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
}
@keyframes ani2{
    20%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}
@keyframes ani3{
    40%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
}
@keyframes ani4{
    60%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
}
@keyframes ani5{
    80%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}